* {
  /* Override default margins*/
  --pagedjs-margin-right: 0.1in;
  --pagedjs-margin-left: 0.1in;
  --pagedjs-margin-top: 0.3in;
  --pagedjs-margin-bottom: 0.2in;
}


h1, h2{
  text-transform: none;
}

:root{
    --sidebar-width: 13rem; /* side bar width */
    --sidebar-background-color: #D3D3D3;
    --decorator-border: 2px solid #D3D3D3; /* change color and thickness of timeline */
    --sidebar-horizontal-padding: 0.09in;
  
}

.decorator::after{
  background-color: #D3D3D3; /* change color timeline dots */
    
}

/* Define the font family here */
  body{
    font-family: "Roboto", sans-serif;
}
    
    
  }